body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#wrapper {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
  height: 100%; /* Ensure the wrapper fills the available height */
}

.row {
  display: flex;
  width: 100%;
}

.grid-item {
  flex: 1;
  min-width: 150px;  /* Adjust as necessary */
  padding: 10px;
  box-sizing: border-box;
}

header, footer {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
  flex-shrink: 0; /* Ensure header and footer do not shrink */
}
