body {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
  gap: 0px;
  height: 100vh;
  margin: 0;
}

header {
  grid-column: 2 / span 6;
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}

main {
  grid-column: 2 / span 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0; 
  padding: 0; 
  height: 100vh; 
}

footer {
  grid-column: 2 / span 6;
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}
