body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}
